.container{
  width: 50%;
  
  margin: 10vh auto 0 auto;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  background: #e6e6d8;
  border-radius: 4px;
  border: 1px solid rgba(31, 38, 135, 0.37)
}

#display {
  text-align: right;
  height:  70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border-radius: 4px;
  border: 1px solid rgba(31, 38, 135, 0.37);
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 2rem;
  gap: 1rem;
  
}

.buttons > div {
  border-radius: 15px;
  border: 1px solid rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter:blur(4px) ;

}

.button{
  border-radius: 1px solid rgba(31, 38, 135, 0.37);
  line-height: 50px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

.button:hover {
  background: rgba(31, 38, 135, 0.37);
  transition: 0.5s ease-in-out;
}

@media screen and (max-width: 940px){
  .container{
    width: 100%
  }
}